

body {
  margin: 0;
  background-image: url("../image/fond2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title { /* truck o bueno au milieu */
  text-align: center;
  text-decoration: none;
  color: white;
}
.title > a {
  text-decoration: none;
}
nav{
  display: inline-block;
}
.topbar {
  background-color: rgb(242, 48, 30);
  height: 61px;
}
.topbar > div { /* aligne elements topbar */
  display: inline-block;
}

.connexioninsc {
  margin-left: 100px;
}

.menu-droite { /* volume + commande + icone caddie */
  float: right;
}

.iconcomm { /* icone caddie position */
  width: 40px;
  color: black;
}

.iconspeaker {
  position: relative;
}

form {
  display: inline-block;
}

.sidebar > ul > li { /* menu gauche*/
  width: 200px;
  background-color: rgb(218, 211, 39);
  border: 1px solid rgb(218, 211, 39);
  border-radius: 40px;
  list-style-type: none;
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 20px black;
  font-family: Verdana;
}
input {
  border-radius: 4px;
  padding: 4px 6px;
  font-family: Verdana!important;

}

.sidebar > ul > li > a { /* liens sidebar */
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.basindex{
  position: relative;
}
.minimap{
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  display: inline-block;
}

.paragraph1{
  position: relative;
}
.lieninscription {
  background-color: rgb(218, 211, 39);
  border: 1px solid rgb(218, 211, 39);
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: black;
}
.lien-connex{
  background-color: rgb(218, 211, 39);
  border: 1px solid rgb(218, 211, 39);
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: black;
}
.commande{
  background-color: rgb(218, 211, 39);
  border: 1px solid rgb(218, 211, 39);
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: black!important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
.caroussel-title {
  color: rgb(219, 61, 33);
  text-shadow: 5px 5px 20px black;
  font-family: Verdana;
  /* box-shadow: 5px 5px 20px black; */
}

.caroussel-container {
  padding: 0 30px;
  width: calc(100% - 500px);
  position: relative;
  left: 300px;
  top: -450px;
}

.paragraph1 {
  font-family: Verdana;
  text-align: center;
  margin-left:  auto;
  margin-right: auto;
  position: relative;
  max-width: 750px;
  margin-top: -300px;
  font-size: 20px;
}

h1
{
  font-size: 50px;
  text-shadow: -1px -1px rgb(219, 61, 33), 1px 1px rgb(219, 61, 33), -3px 0 4px #000;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 61, 33)!important;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;
  -webkit-box-shadow: 2px 2px 6px #888;
  box-shadow:2px 2px 6px #888;
  text-align:center;
  display:block;
  margin:16px;
  text-decoration:none;
}

.collab{
  font-family: Verdana;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -500px;
}

.grandemap {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.grandemap > #map {
  width: 100%;
  height: 750px;
}

.articles {
  margin-top: -475px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
}
.article img {
  max-width: 600px;
}
.aliments{
  max-width: 1006px;
  margin-left: 300px;
  margin-top: -500px;
}
.info {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -450px;
  font-size: 25px;
  font-family: Verdana;
  color: rgb(219, 61, 33)!important;
}

.horaires {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -275px;
  font-family: Verdana;
  font-size: 30px;
}

.commande_articles h3 {
  font-size: 50px;
  color: rgb(219, 61, 33)!important;

}
.commande_articles {
 text-align: center;
 margin-top: -475px;
 margin-left: auto;
 margin-right: auto;
 font-family: Verdana;
 font-size: 30px;
}
.commande_articles img {
  max-width: 400px;
}

.total {
  font-size: 40px;
}
